<div class="jumbotron">
    <h1 class="display-4">Typescript App</h1> 
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nihil illo beatae consectetur consequatur sed?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, consequuntur.</p>

    <a href="#" class="btn btn-primary btn-lg">Task List</a>
</div>